.bold {
  font-weight: bold;
}

.padding {
  padding: 2px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flexer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.spacer {
  height: 10px;
  width: 10px;
}

//! battle royale styling

div.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.grid {
  margin: 5px;
  // width: 720px;
  // height: 720px;
  display: flex;
  flex-wrap: wrap;
  background-image: url('./../assets/arena.png');
  background-size: cover;
  background-color: lightblue;
}

// div.grid-item {
//   width: 14.4px;
//   height: 14.4px;
//   border: 0.5px dashed black;
//   font-size: 7px;
// }

.pokemon {
  // background-color: green;
}

div.player {
  // background-color: red;
  padding: 0;
  // background-image: url('../assets/elf.png');
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: center;
}

div.pokeIndex {
  // background-color: red;
  padding: 0;
}

.playerImage {
  position: absolute;
  padding: 0;
  margin: 0;
  vertical-align: top;
  // clip: rect(40px,60px,200px,0px);
}

.pokeImage {
  position: absolute;
  padding: 0;
  margin: 0;
  vertical-align: top;
  // clip: rect(40px,60px,200px,0px);
}

div.fire {
  background-color: red;
}

div.water {
  background-color: blue;
}

div.grass {
  background-color: green;
}

div.poison {
  background-color: purple;
}

div.flying {
  background-color: grey;
}

.viewCard {
  width: 100px;
  height: 100px;
  // background-color: red;
  justify-content: center;
}

.mainBat {
  display: flex;
  justify-content: space-around;
}

.viewImage {
  height: 50px;
}

div.frontPage {
  // background-image: url('https://middleofnowheregaming.files.wordpress.com/2015/02/pokemon-list.png');
  // background-image: url('./../assets/backgroundImage.png');
  // background-color: black;

}
  @keyframes animatedBackground {
    // from { background-position: 0 0; }
    // to { background-position: 100% 0; }
    // 0% {
    //   background-position: 0 0;
    // }
    // 50% {
    //   background-position: 100% 100%;
    // }
    // 100% {
    //   background-position: 0 0;
    // }
    0% {
      background-position: 0 0;
    }
    25% {
      background-position: 100% 100%;
    }
    38% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 0 100%;
    }
    75% {
      background-position: 100% 0;
    }
    88% {
      background-position: 50% 50%;
    }
    100% {
      background-position: 0 0;
    }
}

#animate-area   { 
    // width: 560px; 
    // height: 400px; 
    height: 100%;
    background-image: url('./../assets/backgroundImage.png');
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 120s linear infinite;
}

@import url('https://fonts.googleapis.com/css?family=Sonsie+One&display=swap');

.mainHeader {
  font-family: 'Sonsie One', cursive;
  color: red;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  font-size: 10px;
  // text-shadow: -3px -3px 0 blue, 3px -3px 0 blue, -3px 3px 0 blue, 3px 3px 0 blue;
  // text-shadow: -1px -1px 0 red, 1px -1px 0 red, -1px 1px 0 red, 1px 1px 0 red;
}

.detailsBoard {
  width: 150px;
}

.centerIt {
  display: flex;
  // justify-content: center;
  align-content: center;
  flex-direction: column;
}

.centerIt2 {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

div.scrollBox {
  height: '400px';
                          // width: '80px',
                          // backgroundSize: 'cover',
                          // backgroundPosition: 'center',
                          // borderRadius: '50%',
                          // position: 'absolute';
                          overflow-y: auto;
}

select#shape option[value="ball"]   { background-image: url(./../assets/shapes/ball.png)}